<div class="container">
  <h1>Discussion: <%= @discussion.title %></h1>
  <h4>Description: <%= @discussion.description %></h4>
  <div class="well">
    <% @discussion.comments.each do |comment| %>
      <%= render partial: 'comments/comment_row', locals: { comment: comment } %>
    <% end %>
  </div>
</div>


<div class="container">
 <%= form_for @comment, url: project_discussion_comments_path(@project, @discussion), remote: true do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body, class:"form-control" %><br>
  <%= f.submit class: "btn btn-info btn-sm" %>
  <% end %>
</div>