<div class="container">
  <h2>Tasks for: <%= @project.title %></h2>
  <div class="well class-well">
    <% @tasks.each do |task| %>
      <%= render partial: 'projects/task_row', locals: { task: task } %>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>Add New Task</h2>
  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @task, url: project_tasks_path(@project), remote: true do |f| %>
    <%= f.label :title %>
    <%= f.text_area :title, class:"form-control" %><br>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
    <%= f.submit class: "btn btn-info btn-sm" %>
  <% end %>
</div>
<br>
<br>
<hr>

