    <h5><%= task.title %></h5>
    <p>Complete By:<%= task.due_date %></p>
    <p>Created By: <%= task.user.first_name %></p>
    <%= link_to "Edit Task", edit_project_task_path(@project, task), class: "btn btn-primary btn-xs" %>
    <%= link_to "Abolish Task",
    project_task_path(@project, task), method: :delete, data: {
      confirm: "Are you sure you wish to abolish this task?"}, class: "btn btn-danger btn-xs" %>
      <% if task.status == true %>
        <%= link_to "Done", toggle_task_status_path(task), method: :patch, class: "btn btn-success btn-xs" %>
      <% elsif task.status == false %>
        <%= link_to "Not Done", toggle_task_status_path(task), method: :patch, class: "btn btn-warning btn-xs" %>
      <% end %>